
.menubar {

	background-color:#70645c;
    z-index: 10;

	display: box;
	display: flex;
	box-align: center;
	align-items: center;
	box-orient: horizontal;
	box-direction: normal;
	flex-direction: row;
	box-pack: justify;
	justify-content: space-between;
	box-shadow: 0px -1px 5px rgba(0,0,0,0.5);

	display: -webkit-box;
	display: -webkit-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,1);

	display: -moz-box;
	display: -moz-flex;
	-moz-box-align: center;
	-moz-align-items: center;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-moz-flex-direction: row;
	-moz-box-pack: justify;
	-moz-justify-content: space-between;

	display: -ms-flexbox;
	-ms-align-items: center;
	-ms-flex-align: center;
	-ms-flex-direction: row;
	-ms-justify-content: space-between;
	-ms-flex-pack: justify;
	
	-o-justify-content: space-between;
	-o-align-items: center;
}

.menubar-top {
	color: #2c2c34;
	height: 80px;
}

.menubar-left {
	position: relative;
    width: 10%;
    margin-top:1px;

    box-align: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
}

.menubar img {
	flex-shrink:0;
	height:100%;
	text-align: center;
}

.menubar-form-inline {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:flex;

	flex-grow: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-positive: 1;

}

.menubar-img-logo {
	margin-left:20px;
}

.menubar-sidebar-toggler {
	margin-right:1%;
}

.menubar-title {
	font-size: 1.5em;
	margin-right:2%;
	color:#ffffff;
}

.menubar-searchbar:hover {
	border-color: #FF8F00;
	border-style: solid;
    border-width: 0.1em;
}

.menubar-searchbar:focus {
	border-color: #FF8F00;
	border-style: solid;
    border-width: 0.2em;
}

.menubar-searchbar {
}

.menubar-btn-search:hover {
	background-color:#FF8F00;
	border-color: #FFFFFF;
	border-style: solid;
    border-width: 0.1em;
}

.menubar-btn-search:active {

}

.menubar-btn-search {
	margin-right:1%;

	color: #FFFFFF;
	background-color:#D77600;
    
    border-color: #000000;
	border-style: solid;
    border-width: 10px;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}

.menubar-text-profile {
	margin-right:1%;
	color:#ffffff;
}

.menubar-img-profile {
	margin-right:1%;
	border-radius:50%;
}

