.portal {
    width: 40vw;
    margin-left:30vw;
    margin-top:5vh;

    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    
    box-shadow: 0px 0px 2em rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 2em 8em rgba(0, 0, 0, 1);

}

.portal-logo:hover {
	transform:translateY(-1%) scale(1.05);
}

.portal-logo {
	width:60%;
	margin-top:5%;
    margin-left:20%;
    margin-right:20%;
    transition: all 0.15s ease-in-out;
    cursor:pointer;
}

.portal-info {
    border-style: solid;
	border-color: #000000;
	border-width: 0.1em;

    width:80%;
    margin-top:1em;
    margin-left:10%;
    padding-top:0.5em;
    padding-bottom:0.5em;

    font-size:1vw;
    text-align: center;
    color:#ffffff;
}

.portal-tab {
	margin-top:1em;
}

.portal-tab-item:hover {
	border-color: #CCCCCC;
}

.portal-tab-item {
	border-style: solid;
	border-width: 0.1em;
	cursor:pointer;
	transition: all 0.15s ease-in-out;
	width:80%;
	margin-left:10%;
	margin-bottom:1em;
	display: flex;
	align-items: center;
    justify-content: left;
}

.portal-tab-item img {
	width:6vw;
	margin-left:1em;
	margin-bottom:1em;
	margin-top:1em;
}

.portal-tab-item text {
	color: #ffffff;
	font-size: 1.2vw;
	margin-left:1em;
	line-height: 1.4em;
}
